# In this Notebook we will preform Explo ratory data analytics on our data (training and validation CSVs)
* Data Preprocessing (Loading Data using Pandas, Handle Missing Values, Encode Categorical Vars, Normalization/Scaling Features)

In [87]:
import pandas as pd

In [88]:
train_data = pd.read_csv('../data/raw/training.csv',delimiter=',')
train_data.head()

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED
0,C100000,zero,660.000000,19995.0,0,0,897338.0,False,4,3,160.0,155,1,1.2,15,very_unsat,little,considering,STAY
1,C100001,one,317.647059,31477.0,155,15,393396.0,True,0,1,100.0,245,27,2.7,4,unsat,little,considering,LEAVE
2,C100006,zero,208.695652,66742.0,0,13,937197.0,False,4,2,127.0,493,20,2.6,4,avg,very_little,considering,STAY
3,C100008,zero,265.017668,40864.0,183,0,986430.0,False,3,3,86.0,390,13,2.5,12,unsat,very_high,considering,LEAVE
4,C100010,one,440.000000,43321.5,200,0,394622.0,True,2,3,77.0,175,18,2.4,10,very_unsat,little,actively_looking_into_it,LEAVE

## Reviewing the data shape and columns types

In [89]:
print(f"the shape of the train data is : ", train_data.shape)
print()
print(train_data.dtypes)

the shape of the train data is :  (11981, 19)

CUSTOMER_ID                     object
COLLEGE                         object
DATA                           float64
INCOME                         float64
OVERCHARGE                       int64
LEFTOVER                         int64
HOUSE                          float64
LESSTHAN600k                    object
CHILD                            int64
JOB_CLASS                        int64
REVENUE                        float64
HANDSET_PRICE                    int64
OVER_15MINS_CALLS_PER_MONTH      int64
TIME_CLIENT                    float64
AVERAGE_CALL_DURATION            int64
REPORTED_SATISFACTION           object
REPORTED_USAGE_LEVEL            object
CONSIDERING_CHANGE_OF_PLAN      object
CHURNED                         object
dtype: object

## Handling Misisng Values

In [90]:
train_data.isna().sum()

CUSTOMER_ID                      0
COLLEGE                          0
DATA                             0
INCOME                           0
OVERCHARGE                       0
LEFTOVER                         0
HOUSE                          635
LESSTHAN600k                   635
CHILD                            0
JOB_CLASS                        0
REVENUE                          0
HANDSET_PRICE                    0
OVER_15MINS_CALLS_PER_MONTH      0
TIME_CLIENT                      0
AVERAGE_CALL_DURATION            0
REPORTED_SATISFACTION            0
REPORTED_USAGE_LEVEL             0
CONSIDERING_CHANGE_OF_PLAN       0
CHURNED                          0
dtype: int64

In [91]:
# Checking the distribution and percentage of missing values
house_miss_perc = train_data['HOUSE'].isna().mean() * 100
lt6k_miss_perc = train_data['LESSTHAN600k'].isna().mean() * 100
print(f"Missing values in 'HOUSE': {house_miss_perc:.2f}%")
print(f"Missing values in 'LESSTHAN600k': {lt6k_miss_perc:.2f}%")

Missing values in 'HOUSE': 5.30%
Missing values in 'LESSTHAN600k': 5.30%

After Handling the NaNs by dropping rows we will have **labled split of data into train test of this sizes :** 
* Training Set: Approximately 9,077 rows
* Test Set: Approximately 2,269 rows

In [92]:
no_nan_data = train_data
no_nan_data.dropna(subset=['HOUSE'], inplace=True)  # Remove rows where 'HOUSE' is NaN
no_nan_data.dropna(subset=['LESSTHAN600k'], inplace=True)  # Remove rows where 'HOUSE' is NaN
no_nan_data.isna().sum()

CUSTOMER_ID                    0
COLLEGE                        0
DATA                           0
INCOME                         0
OVERCHARGE                     0
LEFTOVER                       0
HOUSE                          0
LESSTHAN600k                   0
CHILD                          0
JOB_CLASS                      0
REVENUE                        0
HANDSET_PRICE                  0
OVER_15MINS_CALLS_PER_MONTH    0
TIME_CLIENT                    0
AVERAGE_CALL_DURATION          0
REPORTED_SATISFACTION          0
REPORTED_USAGE_LEVEL           0
CONSIDERING_CHANGE_OF_PLAN     0
CHURNED                        0
dtype: int64

## Getting Desc of the Data

In [93]:
no_nan_data.describe()

,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION
count,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000,11346.000000
mean,503.381766,47554.643266,80.228627,23.857218,506521.681650,2.069364,2.509431,155.497180,382.952142,7.525560,3.080407,5.967654
std,457.877611,22301.121475,84.648846,26.720440,256808.319571,1.251756,1.121900,47.873219,210.254384,8.755728,1.651883,4.365952
min,0.000000,10032.500000,-2.000000,0.000000,150015.000000,0.000000,1.000000,50.000000,130.000000,0.000000,0.300000,1.000000
25%,181.442686,29344.000000,0.000000,0.000000,268511.250000,1.000000,2.000000,121.000000,216.250000,1.000000,1.900000,2.000000
50%,360.564416,44874.000000,56.000000,15.000000,469775.500000,2.000000,3.000000,149.000000,322.000000,4.000000,2.700000,5.000000
75%,684.563758,65027.625000,171.000000,41.000000,722464.250000,3.000000,4.000000,182.000000,513.750000,13.000000,3.800000,9.000000
max,6600.000000,105355.500000,298.000000,89.000000,999996.000000,6.000000,4.000000,521.000000,899.000000,29.000000,21.000000,15.000000

## Saving this non nans data version for EDA before normalizing it

In [94]:
no_nan_data.to_csv('../data/interim/eda_df.csv', sep=',', encoding='utf-8', index=False, header=True)

Normlizing Data by rescaling values in cols : 
  
    - DATA
    - INCOME
    - OVERCHARGE
    - LEFTOVER
    - HOUSE
    - HANDSET_PRICE

In [79]:
import sklearn as sk
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
norm_data = no_nan_data
norm_data[['DATA', 'INCOME', 'OVERCHARGE', 'LEFTOVER', 'HOUSE', 'REVENUE', 'HANDSET_PRICE', 'OVER_15MINS_CALLS_PER_MONTH', 'TIME_CLIENT', 'AVERAGE_CALL_DURATION']] = scaler.fit_transform(norm_data[['DATA', 'INCOME', 'OVERCHARGE', 'LEFTOVER', 'HOUSE', 'REVENUE', 'HANDSET_PRICE', 'OVER_15MINS_CALLS_PER_MONTH', 'TIME_CLIENT', 'AVERAGE_CALL_DURATION']])
norm_data.describe()

,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION
count,1.134600e+04,1.134600e+04,1.134600e+04,1.134600e+04,1.134600e+04,11346.000000,11346.000000,1.134600e+04,1.134600e+04,1.134600e+04,1.134600e+04,1.134600e+04
mean,1.377749e-17,-2.630248e-17,-3.131248e-18,-1.001999e-17,-4.775153e-17,2.069364,2.509431,-3.914060e-18,1.001999e-17,-5.323121e-18,-7.436713e-18,-6.262495e-18
std,1.000044e+00,1.000044e+00,1.000044e+00,1.000044e+00,1.000044e+00,1.251756,1.121900,1.000044e+00,1.000044e+00,1.000044e+00,1.000044e+00,1.000044e+00
min,-1.099429e+00,-1.682597e+00,-9.714515e-01,-8.928846e-01,-1.388282e+00,0.000000,1.000000,-2.203776e+00,-1.203130e+00,-8.595392e-01,-1.683248e+00,-1.137867e+00
25%,-7.031426e-01,-8.166157e-01,-9.478235e-01,-8.928846e-01,-9.268427e-01,1.000000,2.000000,-7.206263e-01,-7.928942e-01,-7.453232e-01,-7.146141e-01,-9.088118e-01
50%,-3.119254e-01,-1.202075e-01,-2.862377e-01,-3.314919e-01,-1.430943e-01,2.000000,3.000000,-1.357224e-01,-2.899099e-01,-4.026753e-01,-2.302971e-01,-2.216462e-01
75%,3.957170e-01,7.835369e-01,1.072376e+00,6.415889e-01,8.409077e-01,3.000000,4.000000,5.536287e-01,6.221208e-01,6.252686e-01,4.356388e-01,6.945747e-01
max,1.331554e+01,2.591951e+00,2.572758e+00,2.438046e+00,1.921651e+00,6.000000,4.000000,7.635144e+00,2.454506e+00,2.452724e+00,1.084845e+01,2.068906e+00

## Saving normalized data in interim file

In [83]:
norm_data.to_csv('../data/interim/normalized_df.csv', sep=',', encoding='utf-8', index=False, header=True)

In [85]:
norm_data = pd.read_csv('../data/interim/normalized_df.csv',delimiter=',')
norm_data.head()

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED
0,C100000,zero,0.342068,-1.235851,-0.947823,-0.892885,1.521888,False,4,3,0.094061,-1.084221,-0.745323,-1.138392,2.068906,very_unsat,little,considering,STAY
1,C100001,one,-0.405661,-0.720966,0.883351,-0.331492,-0.440526,True,0,1,-1.159304,-0.656149,2.224292,-0.230297,-0.450701,unsat,little,considering,LEAVE
2,C100006,zero,-0.643620,0.860414,-0.947823,-0.406344,1.677104,False,4,2,-0.595290,0.523426,1.424781,-0.290837,-0.450701,avg,very_little,considering,STAY
3,C100008,zero,-0.520608,-0.300027,1.214144,-0.892885,1.868824,False,3,3,-1.451756,0.033522,0.625269,-0.351376,1.381740,unsat,very_high,considering,LEAVE
4,C100010,one,-0.138431,-0.189826,1.414983,-0.892885,-0.435752,True,2,3,-1.639761,-0.989094,1.196349,-0.411916,0.923630,very_unsat,little,actively_looking_into_it,LEAVE